* {
  margin: 0;
  padding: 0;
  list-style-type: none;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}

:root {
  --blue: rgb(26, 122, 241);
  --white: #f6f6fd;
  --grey: rgb(214, 214, 214);
}

.container {
  height: 100vw;
  display: grid;
  grid-template-columns: 1fr 4fr;
  grid-template-rows: 1fr 8fr;
}

/* SIDEBAR */

.sidebar {
  padding-top: 40px;
  background-color: var(--blue);
  grid-row: 1 / -1;
  grid-column: 1 / 2;
  justify-items: center;
}

.sidebar-content {
  color: white;
  display: grid;
  grid-template-rows: 100px 350px 200px;
}

h1 {
  font-size: 35px;
  font-weight: bold;
  text-transform: uppercase;
  transform: scaleY(1.2);
}

.element {
  display: flex;
  font-size: 20px;
}

.element a {
  display: flex;
  gap: 30px;
  text-decoration: none;
  color: white;
  transition: ease 0.3s;
}

.element a:hover {
  transform: scale(1.04);
  color: rgb(194, 194, 194);
}

ul {
  display: flex;
  flex-direction: column;
  gap: 25px;
}

/* HEADER */

.header {
  background-color: var(--white);
  grid-row: 1 / 2;
  grid-column: 2 / 3;
  display: grid;
  grid-template-rows: 2fr 3fr;
}

.top-header {
  grid-row: 1 / 2;
  display: grid;
  grid-template-columns: 3fr 2fr;
}

.searchbar {
  display: flex;
  align-items: center;
  justify-content: center;
  grid-column: 1 / 2;
  gap: 25px;
}

.searchbar i {
  font-size: 25px;
  font-weight: bolder;
}

.searchbar .search-bar {
  width: 650px;
  height: 30px;
  background-color: var(--grey);
  border-radius: 15px;
  border: none;
}

.loginbar {
  display: flex;
  justify-content: center;
  align-items: center;
  grid-column: 2 / 3;
  font-size: 25px;
  gap: 50px;
}

.loginbar img {
  height: 60px;
  border-radius: 100px;
  width: auto;
}

.bot-header {
  grid-row: 2 / 3;
}

/* CONTAINER */

.main {
  background-color: var(--grey);
  grid-row: 2 / 3;
  grid-column: 2 / 3;
}
